<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h1>Ingrese sus Datos</h1>
    <ion-list>
      <ion-item>
        <ion-input label="Correo" type="email" placeholder="Ingrese su correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" type="password" value=". . ."></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="block">Ingresar</ion-button>
      </ion-item>
      <ion-item>
        <p>Aún no tienes cuenta? Crea Una   </p>
        <ion-button expand="block">Crear Cuenta</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
